 .sign-up-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #16abd0;
 }

 .signup-card{
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0.3);
 }

.signup-card h1{
    margin-bottom: 20px;

}

.signup-card form input{
    width: 100%;
    margin-bottom: 10px;
    padding: 0px;
}


.signup-card form button{
    width: 100%;
    padding: 10px;
    background-color: #03cafc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}